/ConexionPD/nbproject/private/
/ExamenPOO2/nbproject/private/
/primero/nbproject/private/
/primero/build/
/05Conexion/nbproject/private/
/05Conexion/build/
/05conection/nbproject/private/
/consultar/nbproject/private/
/Registro/nbproject/private/
/05conection/build/
/06MVC/nbproject/private/
/06MVC/build/
